@charset "UTF-8";

@media screen and (max-width:600px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        margin: 0;

    }

    footer {
        width: 100vw;
        border-radius: 0px;
        background-color: rgb(48, 48, 48);
    }

    footer > p {
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }

    img{
        width: 65vw;
    }
}

@media screen and (min-width:600px) and (max-width:952px) {
    footer {
        width: 100vw;
        border-radius: 0px;
        background-color: rgb(48, 48, 48);
    }

    footer > p {
        padding: 20px;
        font-size: 1.3em;
        color: rgb(255, 255, 255);
    }