@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --fonte01:Arial, Verdana, Helvetica, sans-serif;
    --fonte02:'Bebas Neue', cursive;
    --fonte03: 'Open Sans', sans-serif;
}

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient( #FF0000, #2c0000);
    padding: 20px 20px 20px 20px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding-bottom: 5px;
}

header > h1 {
    font-family:var(--fonte02);
    font-size: 10vh;
    text-shadow: 1px 1px #00000066;
    color: white;
    text-align: center;
}

header > p {
    font-family: var(--fonte01);
    font-weight: 600;
    font-size: 1em;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

nav {
    animation-duration: 5s;

}

a {
    font-family: var(--fonte01);
    font-size: 1.2em;
    font-weight: bold;
    color: #ff0000;
    text-decoration: none;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-right: 10px;

}

a:hover {
    color: #9e0101;
    background-color: #ff0000;
    text-shadow: none;
    animation-duration: 1s;

}


body {
    background-color: #ebe5c5;
    margin-bottom: 30px;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: var(--fonte01);
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #00000057;
    color:#530000;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 1px black;
}

p {
    font-family: var(--fonte03);
    font-weight: 300;
    font-size: 1.1em;
}

img {
    width: 450px;

    padding: 10px 1px;
    display: block;
    
}

.margem {
    margin-bottom: 10px;
}

section > h1 {
    margin-bottom: 15px;
}

aside > h1 {
    margin-bottom: 15px;
}

footer {
    font-family: var(--fonte01);
    border-radius: 0px 0px 8px 8px;
    background-color: rgb(48, 48, 48);
    min-width: 300px;
    max-width:840px;
    height: 140px;
    text-align: center;
    padding-bottom: 50px;
    margin: auto;
    
    
}

footer > h1 {
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 8px;
}

footer > p {
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 15px 10px 0px 10px;
    
    
}