body {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 100%;
    height: 200px;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, auto);
    grid-template: "logo menu menu menu" 100px
                         "sidebar conteudo conteudo conteudo" 20px
                         "rodape rodape rodape rodape" 60px;
    gap: 10px;
}


.grid-item {
    height: auto;
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

.menu {
    grid-area: menu;
}

.sidebar {
    grid-area: sidebar;
}

.conteudo {
    grid-area: conteudo;
}

.logo {
    grid-area: logo;
}

.rodape {
    grid-area: rodape;
}