.container {
    display: flex;
    background-color: #eef;
    border: 2px solid red;
    padding:15px;
    max-width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    background-color: #ccc;
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

